* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', 
    Arial, sans-serif;
    scroll-behavior: smooth;
}

nav {
    height: 80px;
    background: #003135;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

.nav-items {
    display: flex;
    align-items: center;
  }

/* Košík */
.cart-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 1rem;
  }
  
  .cart-link {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cart-link i {
    font-size: 1.4rem;
  }
  
  .cart-count {
    position: absolute;
    top: -4px;
    right: 3px;
    background-color: red;
    color: #fff;
    font-size: 0.7rem;
    padding: 2px 6px;
    border-radius: 60%;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
    line-height: 1;
  }

.nav-items a {
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
}

.nav-items a:hover {
    color: #9b9b9b;
}

.toggle_btn {
    display: none;
    padding: 0 2rem;
}

.dropdown_menu {
    display: none;
    position: absolute;
    top: 80px;
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(34, 34, 34, 0.0);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: opacity 1s ease, visibility 1s ease, transform 0.3s linear;
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .dropdown_menu li {
    padding: 10px 20px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
  }

  .dropdown_menu.open {
    height: 240px;
  }

.body-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: #ffffff;
    background: #024950;
}

.body-center h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #fff;
}

.body-center h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #fff;
}

button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #fff;
    background: #00818d;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: -1px 0 5px 5px rgba(0, 0, 0, 0.1);
    margin: 0.5rem;
}

button:hover {
    color: rgb(0, 0, 0);
    background: #00818d;
}

.body-left {
    background-color: #024950;
    color: #fff;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.body-left h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.body-left p {
    margin-bottom: 2rem;
    font-size: 1.25rem;
}

iframe {
    width: 90%;
    max-width: 1000px;
    height: 450px;
    border: 0;
    margin-top: 2rem;
    border-radius: 20px;
}

footer {
    background: #003135;
    padding: 20px 0;
    color: #fff;
    text-align: center;
    height: auto;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #9b9b9b;
}
footer .credit {
    margin: 1rem;
    font-size: 1rem;
}

.credit a {
    color: purple;
}

@media only screen and (max-width: 768px) {

    .nav-items {
        display: none;
    }

    .toggle_btn {
        display: flex;
        color: #fff;
        font-size: 2rem;
        cursor: pointer;
        z-index: 100;
      }
    
      .dropdown_menu li {
        padding: 10px 20px;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        cursor: pointer;
      }
    
      .dropdown_menu li a {
        color: white;
        text-decoration: none;
      }
    
      .dropdown_menu a:hover {
        color: #333;
      }

      .dropdown_menu.open {
        display: block;
      }

    .body-center h1 {
        font-size: 2.5rem;
    }

    .body-center h2 {
        font-size: 1.2rem;
    }

    .body-left h1 {
        font-size: 2rem;
    }

    iframe {
        width: 80%;
        margin: 10px;
    }
}

@media only screen and (max-width: 511px) {
    .body-center h1 {
        font-size: 2rem;
    }

    .body-center h2 {
        font-size: 1rem;
    }

    .body-left h1 {
        font-size: 1.5rem;
    }

    iframe {
        width: 80%;
        margin: 10px;
    }
}
