* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    scroll-behavior: smooth;
}

nav {
    height: 80px;
    background: #003135;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

body {
    background: #024950;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;

}

.nav-items {
    display: flex;
    align-items: center;
}


.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

.cart-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

.cart-link {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-link i {
    font-size: 1.4rem;
}

.cart-count {
    position: absolute;
    top: -4px;
    right: 3px;
    background-color: red;
    color: #fff;
    font-size: 0.7rem;
    padding: 2px 6px;
    border-radius: 60%;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
    line-height: 1;
}


.nav-items a {
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
}

.nav-items a:hover {
    color: #9b9b9b;
}

.toggle_btn {
    display: none;
    padding: 0 2rem;
}

.dropdown_menu {
    display: none;
    position: absolute;
    top: 80px;
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(34, 34, 34, 0.0);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: opacity 1s ease, visibility 1s ease, transform 0.3s linear;
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .dropdown_menu li {
    padding: 10px 20px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
  }

  .dropdown_menu.open {
    height: 240px;
  }

.kosik h1 {
    color: #fff;
    background-color: #024950;
    text-align: center;
    font-size: 100px;
}

ul {
    background-color: #024950;
    color: white;
    font-size: 30px;
    text-align: center;
    list-style-type: none;
}

ul.empty {
    color: red;
    list-style-type: none;
    padding-left: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 30px;
}

.cart-item-image {
    width: 100px;
    height: 200px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 8px;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
}

.cart-item-name {
    font-weight: bold;
}

.cart-item-quantity {
    margin-top: 5px;
}

.cart-item-quantity button {
    padding: 5px;
    align-items: center;
    background-color: #00818d;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.cart-item-quantity button:hover {
    background-color: #003135;
    cursor: pointer;
}

.cart-item-remove {
    margin-top: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.cart-item-remove:hover {
    background-color: darkred;
}

.formulare {
    background-color: #024950;
    min-height: 75vh;
}


.formular {
    display: flex; 
    justify-content: space-between; 
    gap: 10px; 
    padding: 20px;
    align-items: stretch; 
}

.form-left {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.form-left input[type="text"],
.form-left input[type="email"] {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    background-color: #00818d;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
}

.form-left input[type="text"]:hover,
.form-left input[type="email"]:hover {
    background-color: #003135;
    cursor: text;
}

.form-left input::placeholder {
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.custom-alert-content {
    background: #006a73;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.custom-alert button {
    padding: 10px;
    margin-top: 10px;
    background-color: #00818d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-alert button:hover {
    background-color: #003135;
}

.form-right {
    flex: 1; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.platba, .doručení {
    background-color: #024950;
    color: #fff;
    margin-bottom: 20px;
    width: 45%; 
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
}

.platba h3, .doručení h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}

.platba input[type="radio"],
.doručení input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.platba label, .doručení label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

.ob {
    padding: 0px 0px 100px 0px;
    text-align: center;
    background-color: #024950;
}

.ob button {
    padding: 1rem 5rem;
    font-size: 1rem;
    border: none;
    color: #fff;
    background: #00818d;
    border-radius: 25px;
    cursor: pointer;
}

.ob button:hover {
    background-color: #003135;
}

footer {
    background: #003135;
    padding: 20px 0px 10px 0px;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100px;   
}

.footer-content a{
    color: white;
    text-decoration: none;
}

footer .credit {
    margin: 1rem;
    font-size: 1rem;
}

.credit a {
    color: purple;
}

@media (max-width: 768px) {

    .nav-items {
        display: none;
    }

    .toggle_btn {
        display: flex;
        color: #fff;
        font-size: 2rem;
        cursor: pointer;
        z-index: 100;
      }
    
      .dropdown_menu li {
        padding: 10px 20px;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        cursor: pointer;
      }
    
      .dropdown_menu li a {
        color: white;
        text-decoration: none;
      }
    
      .dropdown_menu a:hover {
        color: #333;
      }

      .dropdown_menu.open {
        display: block;
      }

    .formulare {
        display: grid;
        grid-template-columns: 1fr;
    }

    .formular {
        flex-direction: column; 
        gap: 10px; 
    }

    .form-left, .form-right {
        width: 100%;
        margin-bottom: 20px;
    }

    .platba, .doručení {
        width: 100%;
    }
    

}