* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #024950;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    height: 80px;
    background: #003135;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

.nav-items {
    display: flex;
    align-items: center;
  }

/* Košík */
.cart-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 1rem;
  }
  
  .cart-link {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cart-link i {
    font-size: 1.4rem;
  }
  
  .cart-count {
    position: absolute;
    top: -4px;
    right: 3px;
    background-color: red;
    color: #fff;
    font-size: 0.7rem;
    padding: 2px 6px;
    border-radius: 60%;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
    line-height: 1;
  }

.nav-items a {
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
}

.nav-items a:hover {
    color: #9b9b9b;
}

.toggle_btn {
    display: none;
    padding: 0 2rem;
}

.dropdown_menu {
    display: none;
    position: absolute;
    top: 80px;
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(34, 34, 34, 0.0);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: opacity 1s ease, visibility 1s ease, transform 0.3s linear;
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .dropdown_menu li {
    padding: 10px 20px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
  }

  .dropdown_menu.open {
    height: 240px;
  }

main {
    width: 90%;
    margin: 0 auto;
}

.product {
    text-align: center;
    margin: 2rem 0;
}

.img img {
    max-width: 60%;
    height: auto;
}

.product-info h1 {
    font-size: 2rem;
}

.product-info h2 {
    font-size: 1.5rem;
}

.description .box {
    background: #00818d;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button {
    text-align: center;
    margin: 2rem 0;
}

.button button {
    background: #00818d;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
    height: 60px;
    width: 200px;
    font-size: 1.2rem;
}

.button button:hover {
    background: #006a73;
}

.nutrition h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.tables {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 400px;
    background: #003135;
    color: #fff;
    margin: 0 auto;
}

th, td {
    border: 2px solid #00818d;
    padding: 0.5rem;
    text-align: center;
}

th {
    background: #fddf95;
}

.text h3 {
    text-align: center;
    margin: 1rem 0;
}

.site-footer {
    background: #003135;
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}

.site-footer a {
    color: #fff;
    text-decoration: none;
}

.site-footer .credit {
    margin: 1rem;
    font-size: 1rem;
}

.credit a {
    color: purple;
}

/* Responsive Styles */
@media (max-width: 768px) {

    .nav-items {
        display: none;
    }

    .toggle_btn {
        display: flex;
        color: #fff;
        font-size: 2rem;
        cursor: pointer;
        z-index: 100;
      }
    
      .dropdown_menu li {
        padding: 10px 20px;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        cursor: pointer;
      }
    
      .dropdown_menu li a {
        color: white;
        text-decoration: none;
      }
    
      .dropdown_menu a:hover {
        color: #333;
      }

      .dropdown_menu.open {
        display: block;
      }

    .img img {
        max-width: 80%;
    }
    .tables {
        flex-direction: column;
        align-items: center;
    }
    .nav-items a {
        padding: 1rem;
    }
    .product-info h1 {
        font-size: 1.5rem;
    }
    .product-info h2 {
        font-size: 1.2rem;
    }
    .description .box {
        padding: 0.5rem;
    }
    .button button {
        padding: 0.6rem 1rem;
    }
    table {
        width: 100%;
        max-width: 100%;
    }
}
